<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
{{ if .Site.Params.googleFonts }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
{{ end }}
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/swiper-bundle.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/fontawesome.min.css" | relURL }}">
<script src="{{ "js/script.js" | relURL }}" defer></script>
<script src="{{ "js/swiper-bundle.min.js" | relURL }}" defer></script> 